antiorm
asgiref
attrs
bcrypt
blinker
click
colorama
contourpy
contrib
crispy-bootstrap5
cycler
db
dj-database-url
Django
django-crispy-forms
django-environ
environ
Flask
Flask-Bcrypt
Flask-MySQL
Flask-MySQLdb
fonttools
itsdangerous
Jinja2
jmespath
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
MouseInfo
mysql-connector-python
mysqlclient
numpy
opencv-contrib-python
packaging
pillow
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
PyMySQL
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
pytweening
PyYAML
referencing
rpds-py
shortcuts
six
sqlparse
template
toml
typing_extensions
tzdata
utils
views
Werkzeug